{% extends 'webApp/base.html' %}
{% block title %}R Help{% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/keyboard.css' %}">
<link rel="stylesheet" href="{% static 'css/ask_question.css' %}">
<script src="{% static 'js/keyboard.js' %}"></script>
{% endblock %}
{% block subtitle %}Ask a Question{% endblock %}
{% block content %}
<div class="item">
  <p>Submit your question here and a volunteer will provide you an answer as soon as possible</p>
  <div class="item_form">
  <form action="">
    <p  class=labels>
      <label class=labels for="tags">Tags</label></p>
    <p>
      <input placeholder="Tags" class="tags" id="tags">
    </p>
    <p  class=labels ><label for="question">Question</label></p>
    <p><textarea id="question" name="" rows="10" cols="50" class="keyboardInput" placeholder="Enter Question Here"></textarea></p>
    <p><input type="submit" value="Upload Picture or Document"><input type="submit" value="Submit"></p>
</form>
      </div>
 {% endblock %}

  {% block footer %}
  <a href="{% url 'login' %}"><button>Back to Main Page</button></a>
  {% endblock %}