<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% block css %}{% endblock %}
  <title>{% block subtitle %}R Help{% endblock %}</title>
</head>
<body>
  <div class='main'>
  <div id="header">
    <h2>{% block header %}Translate for Refugees{% endblock %}</h2>
    <p class='striped-border'></p>
    </div>
  <div class='block_content'>
  {% block content %}{% endblock %}

{% if user.is_authenticated %}
  <script>
    (function(t,a,l,k,j,s){
    s=a.createElement('script');s.async=1;s.src="https://cdn.talkjs.com/talk.js";a.head.appendChild(s)
    ;k=t.Promise;t.Talk={v:1,ready:{then:function(f){if(k)return new k(function(r,e){l.push([f,r,e])});l
    .push([f])},catch:function(){return k&&new k()},c:l}};})(window,document,[]);
  </script>
  <script src="{% static 'games/js/main.js' %}"></script>

  {% block extrajs %}{% endblock extrajs %}
{% else %}
  <script>sessionStorage.removeItem('currentSession')</script>
{% endif %}
  </div>
      <div class='footer'>
       <p class='striped-border'></p>
        {% block footer %}{% endblock %}
    </div>
</div>
</body>
</html>
