<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <title>Translate for Refugees</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/keyboard.css' %}">
</head>
<body>
  <div class='main'>
  <header id="header">
      <h2>Translate for Refugees</h2>
    <p class='striped-border'></p>
    </header>
  <div class='container'>
  {% block content %}{% endblock %}
  </div>
</div>
</body>
</html>


{% if user.is_authenticated %}
  <script>
    (function(t,a,l,k,j,s){
    s=a.createElement('script');s.async=1;s.src="https://cdn.talkjs.com/talk.js";a.head.appendChild(s)
    ;k=t.Promise;t.Talk={v:1,ready:{then:function(f){if(k)return new k(function(r,e){l.push([f,r,e])});l
    .push([f])},catch:function(){return k&&new k()},c:l}};})(window,document,[]);
  </script>
  <script src="{% static 'games/js/main.js' %}"></script>

  {% block extrajs %}{% endblock extrajs %}
{% else %}
  <script>sessionStorage.removeItem('currentSession')</script>
{% endif %}