{% extends 'webApp/base_splash.html' %}
{% block content %}
  <div class='item' id='language'>
    <p><input placeholder="Username"></input></p>
    <p><input placeholder="Password" type="password"></input></p>
    <submit></submit>
    </div>
  <div class='item'>
      <input type="submit" onclick="myFunction()">
    </div>
  <p class='striped-border'></p>
  <div class='item'>
    <p>No Account?</p>
    <button onclick="myFunction()">Register</button>
    <p id="demo"></p>
  </div>
 {% endblock %}