{% extends 'webApp/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/register_volunteer.css' %}">
<script src="{% static 'js/register_volunteer.js' %}"></script>
{% endblock %}
{% block subtitle %}Welcome to R Help{% endblock %}
{% block header %}Main Page{% endblock %}
{% block content %}
<div class='container'>
<div class="item">
  <a href="{% url 'question'%}"><button>Ask a Question</button></a>
    </div>
    <div class="item">
  <a href="{% url 'see_questions' %}"><button>See Question</button></a>
    </div>
    <div class="item">
      <a href=""><button>Useful Links</button></a>
    </div>
    <div class="item">
      <a href=""><button>Find others nearby</button></a>
    </div>
</div>
 {% endblock %}
{% block footer %}
    <p><a href="{% url 'landing'%}"><button>Logout</button></a></p>
 {% endblock %}