{% extends 'webApp/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/register_volunteer.css' %}">
<script src="{% static 'js/register_volunteer.js' %}"></script>
{% endblock %}

{% block subtitle %}Welcome to R Help{% endblock %}
{% block header %}Register at R Help {% endblock %}
{% block content %}
<div class="form_body">
<form>
  <div class='item'>
      <p>
      <label for="name" id="name-label">Name<br>
      <input type ="text" name="name" id="name" placeholder="John Smith">
      </label>
      </p>
  </div>
<div class='item'>
    <p>
  <label for="email" id="email-label"> Email<br>
  <input type="email" name="email" id="email" placeholder="JohnSmith@gmail.com">
</label>
    </p>
</div>
<div class='item'>
  <p>
   <label for="language"> Language skills<br>
     <input type="language" name="language" id="language" placeholder="Ukranian">
   </label>
  </p>
  <p>
  <label class="form_item" for="CEFR">CEFR Level:
  <tag class="popup" onclick="myPopup()">(?)
  <span class="popuptext" id="myPopup">
    A1: Beginner<br>
    A2: Elementary<br>
    B1: Intermediate<br>
    B2: Upper Intermediate<br>
    C1: Advanced<br>
    C2: Proficiency<br>
  </span>
  </tag><br>
  <input type="CEFR" name="CEFR" id="CEFR" placeholder="A1"></label>
  </p>
</div>
    </div>
<div class="item">
 <input type="submit" id="submit" value="Submit">
</div>
</form>
 {% endblock %}
    {% block footer %}
    <p><a href="{% url 'landing'%}">Take me back to the main page</a></p>
 {% endblock %}