body {
  font-family: Sans-serif;
  text-align: center;
  font-size: 15px;
  font-color: #2a2a2a;
  background-color: #ede8e1;
}

.main{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 80%;
  background-color: white;
  border-radius:50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.item {
  bottom-margin:20px;
}

header {
  padding-top:10px;
  height: 100px;
}

h2{
  font-size: 25px;
  color: black;
}

 .striped-border { border: 1px solid #000; width: 75%; margin: auto; margin-top: 10px; margin-bottom: 10px; }

#language{
  align: center;
}
ul {

  }

li {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-right:25px;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin-bottom: 10px;
}

button {
  border: none;
  background-color: #cccccc;
  color: black;
  padding: 10px;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
}

li button {
  padding: 0px;
  background-color: white;
  border: none;
  box-shadow: none;
}

@media only screen and (max-width: 600px) {
  html,
  body,
  #subtitle {
    font-size: 15px !important;
  }
  h1,
  h2 {
    font-size: 20px !important;
  }

  #form_results {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  }
}
