body {
  font-family: Sans-serif;
  text-align: center;
  font-size: 15px;
  font-color: #2a2a2a;
  background-color: #ede8e1;
}

.main{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 80%;
  background-color: white;
  border-radius:50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.item {
  padding:50px;
  flex:10%;
}

header {
  padding-top:10px;
  height: 100px;
}

h2{
  font-size: 25px;
  color: black;
}

 .striped-border { border: 1px solid #000; width: 75%; margin: auto; margin-top: 10px; margin-bottom: 10px; }

#language{
  align: center;
}
ul {

  }

li {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-right:25px;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin-bottom: 10px;
}

button, input[type=submit] {
  border: none;
  background-color: #cccccc;
  color: black;
  padding: 10px;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
}

.big_button {
  margin-top: 0px;
  border: none;
  background-color: #cccccc;
  color: black;
  width: 300px;
  height:200px;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

li button {
  padding: 0px;
  background-color: white;
  border: none;
  box-shadow: none;
}

input {
  width: 100%;
  padding: 10px 15px;
}

table {
  table-layout: fixed;
}

td{
  text-align: left;
  padding-left:10px;
   max-width: 150px;
}
.col_1{
  width:70px;
}
.col_2{
  width: 400px;
}

.preference {
display:flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 600px) {
  html,
  body,
  #subtitle {
    font-size: 15px !important;
  }
  h1,
  h2 {
    font-size: 20px !important;
  }
}
/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}